{% extends 'base.html.twig' %}

{% block title %}Hello CompaniesController!{% endblock %}

{% block body %}

<h1>Détails</h1>
<p>Nom : {{company.nom}}</p>
<p>Sigle : {{company.sigle}}</p>
<p>Employés : {{company.employes}}</p>

{% endblock %}