{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">

                {{form(formulaire, {"attr" : {"novalidate": "novalidate"}})}}

        </div>
    </div>
</div>



{% endblock %}
